# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
/frontend/.env.local
/frontend2/.env.local
/frontend2/dist
/frontend2/*.tsbuildinfo
/frontend2/vite.config.js
/frontend2/vite.config.d.ts
/middleware/.env.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/frontend/.yalc
/frontend/build
yalc.lock

.idea

/data
/logs

.env.local
.env.*.local